<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  {{info}}
</div>
<teams 
  *ngFor="let item of getTeamArr();" 
  [team]=item
  (updateBestMfsEv)='updateBestMfsHandler($event)'
>
</teams>
<div class="result">
    <teamTable 
      *ngFor="let item of getTeamArr(); let i=index;" 
      [team]=item
      [i]=i
    >
    </teamTable>
    <button (click)="save()">Save To Server</button>
    <button (click)="load()">Load From Server</button>
</div>    
<bestMfs
  [teamArr]='teamArr'
  [updateBestMfs] = 'updateBestMfs'
  [position] = "'d'"
>
</bestMfs>
<bestMfs
  [teamArr]='teamArr'
  [updateBestMfs] = 'updateBestMfs'
  [position] = "'m'"
>
</bestMfs>
<bestMfs
  [teamArr]='teamArr'
  [updateBestMfs] = 'updateBestMfs'
  [position] = "'f'"
>
</bestMfs>
<bestMfs
  [teamArr]='teamArr'
  [updateBestMfs] = 'updateBestMfs'
  [position] = "'g'"
>
</bestMfs>

