<div id={main}>
    <div class="name">{{player.name}}</div> 
    <div class="teamName">{{player.teamName}}</div> 
    <div class="num">{{position=='m'?player.tempdefensive: ''}} </div>
    <div class="num">{{player.tempoffensive}}</div> 
    <div class="num">{{position=='m'?player.mainTotal:''}}</div>
    <div class="bnum">{{position=='g'?player.temprating:''}}</div>
    <div class="num">{{(position=='d'?player.gaPerGame:'')|number:"1.1-2"}}</div>
    <div class="bnum">{{(position=='d'?player.rating:'')|number:"1.1-2"}}</div>
    <div class="num">{{position=='d'?player.tempgaPerGame:''}}</div>
</div>