<div>
    <div class="name">{{team.g[0].teamName}}</div>
    <div class="num">{{bestPlayers[0].temprating}}</div>
    <div class='num'>{{bestPlayers[1].tempgaPerGame}}</div>
    <input #d type="text" [ngModel]="bestPlayers[1].tempgaPerGame" (change)="inputChanged()">
    <div class='num'>{{bestPlayers[2].tempdefensive}}</div>
    <input #md1 type="text" [ngModel]="bestPlayers[2].tempdefensive" (change)="inputChanged()">
    <div class='num'>{{bestPlayers[2].tempoffensive}}</div>
    <input #mo1 type="text" [ngModel]="bestPlayers[2].tempoffensive" (change)="inputChanged()">
    <div class='num'>{{bestPlayers[3].tempdefensive}}</div>
    <input #md2 type="text" [ngModel]="bestPlayers[3].tempdefensive" (change)="inputChanged()">
    <div class='num'>{{bestPlayers[3].tempoffensive}}</div>
    <input #mo2 type="text" [ngModel]="bestPlayers[3].tempoffensive" (change)="inputChanged()">
    <div class='num'>{{bestPlayers[4].tempoffensive}}</div>
    <input #f type="text" [ngModel]="bestPlayers[4].tempoffensive" (change)="inputChanged()">
    <div class='num'>{{total}}   </div>
    <input warning type="text" [ngModel]="correctTotal">
</div>